<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!--<h1>conditional statements</h1>
        <h1>Inside if block</h1>
        <h1>{% if a > 8 %}</h1>
        <h1>{{a}}</h1>
        <h1>{% endif %}</h1>-->


       <!--<h1>conditional statements for if else</h1>
        <h1>inside if block</h1>
        <h1>{% if a > b %}</h1>
        <h1>a is max {{a}}</h1>
        <h1>{% else %}</h1>\
        <h1>inside else block</h1>
        <h1>b is max {{b}}</h1>
        <h1>{% endif %}</h1>-->


        <h1>conditional statements for nested if conditions</h1>
        <h1>inside outer if block</h1>
        <h1>{% if a > b %}</h1>
            <h1>outer if block</h1>
            <h1>{% if a > c %}</h1>
            <h1>a is max {{a}}</h1>
        <h1>inside if else block</h1>
            <h1>{% else %}</h1>
            <h1>c is max {{c}}</h1>
            <h1>{% endif %}</h1>
        <h1>outer else block</h1>
            <h1>{% else %}</h1>
            <h1>inside inner else if condition</h1>
            <h1>{% if b > c %}</h1>
            <h1>b is max {{b}}</h1>
        <h1>{% else %}</h1>
            <h1>c is max {{c}}</h1>
        <h1>{% endif %}</h1>
        <h1>{% endif %}</h1>
    </center>



    
</body>
</html>